body{
  background-color: #FFFACD;
  font-family: Avenir Next;
  font-size: 24px;
  margin: auto;
  max-width: 900px;
}
h2, h3{
  color: #030303;
  padding: 10px;
}
p, ol, ul{
  color: #940033;
}
h1, a{
  color: #030303;
}
h1{
  padding: 30px;
}
