<style>
      body {
  background-color: yellow;
}
h1,h2,h3 {
  color: blue;
  font-family: verdana;
  font-size: 300%;
}
p {
  color: purple;
  font-family: courier;
  font-size: 160%;
}
    </style>
